
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li img.right {
    width: 64px;
    float: right;
}
.logo {
    width: 80px
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li a:hover {
    color: white;
}
ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

.welcome {
    display: flex;
    flex-direction: row;
}

.chatBox {
    position: fixed;
    left: 18px;
    bottom: 25px;
    width: 128px;
}

.missionSection{
    background-color: #F17575;
}


.missionDiv, .nutritionDiv {
    display: flex;
    flex-direction: row;
}
.missionDiv p {
    color: white;
}

.carousel {
    height: 80vh;
    width: 50vw;
    margin: auto;
    background-color: #F17575;
}

.foodGuide {
    background-color: #F17575;
}

.foodItem img {
    width: 128px;
}

.items {

}

