<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: headChildren('Health')"></th:block>
</head>
<body>
<th:block th:replace="layout :: nav"></th:block>
<div class="health">
    <div>
        <h1>Health</h1>
        <p>Exercise & meditation is a key to recovery and healthy aging. If you have been diagnosed with heart disease,
            had a heart attack, or a stroke, this is for you.</p>
    </div>
    <img th:src="@{/images/health.png}">
</div>

<img class="chatBox" th:src="@{/images/chat.png}">
<div class="healthSect">
    <h1>Stay Active</h1>
    <div class="healthDiv">
        <div>
            <img th:src="@{/images/check.png}">
            <h2>Benefits</h2>
            <p>Regular activity can help you lose weight, stay healthier, slow the physical decline of aging, sleep
                better, reduce stress.... And more. So much more.</p>
        </div>
        <div>
            <img th:src="@{/images/fist.png}">

            <h2>Excercising for Recovery</h2>
            <p>Exercise is a key to recovery and healthy aging. If you have been diagnosed with heart disease, had a
                heart attack, or a stroke, this is for you.</p>
        </div>
        <div>
            <img th:src="@{/images/bird.png}">
            <h2>Tips</h2>
            <p>Once you’ve decided that it's time to make physical activity a regular part of your life, here are some
                ideas to get you started.</p>
        </div>
    </div>
</div>
<div class="healthSect">
    <h1>Reduce Stress</h1>
    <div class="healthDiv">
        <div>
            <img th:src="@{/images/check.png}">
            <h2>Advice</h2>
            <p>Regular activity can help you lose weight, stay healthier, slow the physical decline of aging, sleep better, reduce stress.... And more. So much more.</p>
        </div>
        <div>
            <img th:src="@{/images/fist.png}">
            <h2>Symptoms</h2>
            <p>Regular activity can help you lose weight, stay healthier, slow the physical decline of aging, sleep better, reduce stress.... And more. So much more.</p>
        </div>
        <div>
            <img th:src="@{/images/bird.png}">
            <h2>Take Action</h2>
            <p>Regular activity can help you lose weight, stay healthier, slow the physical decline of aging, sleep better, reduce stress.... And more. So much more.</p>
        </div>
    </div>
</div>
</body>
</html>
