<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: headChildren('Health')"></th:block>
</head>
<body>
<ul class="topnav">
    <li><img class="logo" th:src="@{/images/logo.png}"></li>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/nutrition}">Nutrition</a></li>
    <li><a th:href="@{/health}">Health</a></li>
    <li><a th:href="@{/wordGame}">Word Game</a></li>
    <li><img class="right" th:src="@{/images/profile.png}"/></li>
</ul>
</body>
</html>
