<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: headChildren('Nutrition')"></th:block>
</head>
<body>
<ul class="topnav">
    <li><img class="logo" th:src="@{/images/logo.png}"></li>
    <li><a th:href="@{/}">Home</a></li>
    <li><a th:href="@{/nutrition}">Nutrition</a></li>
    <li><a th:href="@{/health}">Health</a></li>
    <li><a th:href="@{/wordGame}">Word Game</a></li>
    <li><img class="right" th:src="@{/images/profile.png}"/></li>

</ul>
<div class="nutrition">
    <div class="nutritionDiv">
        <div><h1>Nutrition</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <img th:src="@{/images/saly.png}">
    </div>
</div>
<div class="foodGuide">
    <h1>Food Guide</h1>
    <div class="items">
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
        <div class="foodItem">
            <img th:src="@{/images/saly.png}">
        </div>
    </div>
</div>
<div class="recipesSection">
    <h1>Recipes</h1>

</div>
</body>
</html>
