<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: headChildren('Nutrition')"></th:block>
</head>
<body>
<th:block th:replace="layout :: nav"></th:block>
<div class="nutrition">
    <div class="nutritionDiv">
        <div><h1>Nutrition</h1>
            <p>Improve your heart and brain health by eating a healthy balanced diet.</p>
        </div>
        <img th:src="@{/images/nutrition.png}">
    </div>
</div>
<div class="recipes">
    <h1>Food Guide</h1>
    <div class="items">
        <div class="foodItem">
            <a th:href="@{/pdf-recipes/recipe1.pdf}" target="_blank">
                <img th:src="@{/images/recipe1.jpg}">
                <p>Shrimp and Broccoli Stir Fry</p></a>
        </div>
        <div class="foodItem">
            <a th:href="@{/pdf-recipes/recipe2.pdf}" target="_blank">
                <img th:src="@{/images/recipe2.jpg}">
                <p>Spiced pork Tenderloin with Sauteed Apple</p></a>
        </div>
        <div class="foodItem">
            <a th:href="@{/pdf-recipes/recipe4.pdf}" target="_blank">
                <img th:src="@{/images/recipe4.jpg}">
                <p>Steak Baguettes with Pesto Mayo</p></a>
        </div>
        <div class="foodItem">
            <a th:href="@{/pdf-recipes/recipe6.pdf}" target="_blank">
                <img th:src="@{/images/recipe6.jpg}">
                <p>Smokey Tilapia Tacos</p></a>
        </div>
    </div>
</div>
</body>
</html>
